{% extends  'common/parent.html' %}
{% load static %}
{% block title %}
    选择城市
{% endblock %}

{% block content %}
    <body>
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">选择城市</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>
    <ul class="city-list">
        <li class="curr"><a href="">成都</a></li>
        <li><a href="">德阳</a></li>
        <li><a href="">南充</a></li>
        <li><a href="">绵阳</a></li>
        <li><a href="">雅安</a></li>
        <li><a href="">眉山</a></li>
        <li><a href="">泸州</a></li>
        <li><a href="">宜宾</a></li>
    </ul>
    </body>
{% endblock %}
{% block base %}
    <!--底部-->
    <div style="height: 55px;"></div>
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
        <ul class="am-navbar-nav am-cf am-avg-sm-5">
            <li>
                <a href="{% url 'commodity:首页' %}" class="curr">
                    <span class="am-icon-home"></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="{% url 'user:我的动态' %}" class="">
                    <span class="am-icon-comments"></span>
                    <span class="am-navbar-label">动态</span>
                </a>
            </li>
            <li>
                <a href="{% url 'shopping_cart:购物车' %}" class="">
                    <span class="am-icon-shopping-cart"></span>
                    <span class="am-navbar-label">购物车</span>
                </a>
            </li>
            <li>
                <a href="{% url 'order:全部订单' %}" class="">
                    <span class="am-icon-file-text"></span>
                    <span class="am-navbar-label">订单</span>
                </a>
            </li>

            <li>
                <a href="{% url 'user:个人中心' %}" class="">
                    <span class="am-icon-user"></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

