{% extends 'common/parent.html' %}
{% load static %}
{% block content %}
    <body>
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">购物车</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>

    <ul class="shopcart-list">
        {% for sku in skus %}
            <li>
                <label class="am-checkbox am-warning">
                    <input type="checkbox" checked="checked" value="" data-am-ucheck checked>
                </label>
                <a href="{% url 'commodity:商品详情' sku.pk %}"><img src="{{ MEDIA_URL }}{{ sku.logo }}" class="shop-pic"/></a>
                <div class="shop-list-mid">
                    <div class="tit"><a href="{% url 'commodity:商品详情' sku.pk %}">{{ sku.name }}</a></div>
                    <b class="shop-list-price">{{ sku.price }}</b>
                </div>
                <div class="list-cart1">
                    <div class="d-stock">
                        <a class="decrease">-</a>
                        <input id="num" readonly="" class="text_box" name="" type="text" value="11">
                        <a class="increase">+</a>
                    </div>
                </div>
            </li>
        {% empty %}
            <!--购物车空的状态-->
            <div class="login-logo">
                <img src="{% static 'images/care.png' %}">
                <p>亲、您的购物车还是空空的哦，快去装满它!</p>
                <a href="{% url 'commodity:首页' %}" class="goshopping">前去逛逛</a>
            </div>
        {% endfor %}
        <div style="height: 10px; background: #eee;"></div>
    </ul>

    <div class="shop-fix">

        <label class="am-checkbox am-warning">
            <input type="checkbox" checked="checked" value="" data-am-ucheck checked>
        </label>
        <a class="del">全选</a>
        <a href="{% url 'order:确认订单' %}" class="js-btn">去结算</a>
        <div class="js-text">
            <P>合计：<b>￥217.80</b></P>
            <p class="js-car">免费配送</p>
        </div>
    </div>
    <!--底部-->
    <div style="height: 55px;"></div>
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
        <ul class="am-navbar-nav am-cf am-avg-sm-5">
            <li>
                <a href="{% url 'commodity:首页' %}" class="">
                    <span class="am-icon-home"></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="{% url 'user:我的动态' %}" class="">
                    <span class="am-icon-comments"></span>
                    <span class="am-navbar-label">动态</span>
                </a>
            </li>
            <li>
                <a href="{% url 'shopping_cart:购物车' %}" class="curr">
                    <span class="am-icon-shopping-cart"></span>
                    <span class="am-navbar-label">购物车</span>
                </a>
            </li>
            <li>
                <a href="{% url 'order:全部订单' %}" class="">
                    <span class="am-icon-file-text"></span>
                    <span class="am-navbar-label">订单</span>
                </a>
            </li>

            <li>
                <a href="{% url 'user:个人中心' %}" class="">
                    <span class="am-icon-user"></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>

    <script>
        //购物数量加减
        $(function () {
            $('.increase').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());
                current_num += 1;
                self.siblings('input').val(current_num);
                update_item(self.siblings('input').data('item-id'));
            })
            $('.decrease').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());
                if (current_num > 1) {
                    current_num -= 1;
                    self.siblings('input').val(current_num);
                    update_item(self.siblings('input').data('item-id'));
                }
            })
        })
    </script>
    </body>
{% endblock %}

