{% extends 'common/parent.html' %}
{% load static %}
{% block content %}
    <body>
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            个人资料
        </h1>
    </header>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="height: 49px;"></div>
        <ul class="safty1">
            <li>
                <i style="margin-top: 25px;">头像</i>
                <div class="infor-pic">
                    <img src="{{ MEDIA_URL }}{{ data.head }}"/>
                </div>
            </li>
            <li>
                <input type="file" name="head">
            </li>
            <li>
                <i>昵称</i>
                <input class="infor-tele" name="username" placeholder="请输入昵称" value="{{ data.username }}"/>
                <font size="1px" style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ username.0 }}</font>
            </li>
            <li>
                <i>性别</i>
                <i class="infor-tele">
                    <label class="am-radio-inline">
                        <input type="radio" name="gender" value="1" data-am-ucheck checked="checked">男
                    </label>
                    <label class="am-radio-inline">
                        <input type="radio" name="gender" value="2" data-am-ucheck>女
                    </label>
                </i>
            </li>
            <li>
                <i>生日</i>
                <input class="infor-tele" name="birthday" placeholder="出生日期" value="{{ data.birthday }}"/>
            </li>
        </ul>
        <div style="height: 10px; background: #efefef;"></div>
        <ul class="safty1">
            <li>
                <i>学校</i>
                <input class="infor-tele" name="school" placeholder="就读于哪个学校" value="{{ data.school }}"/>
            </li>
            <li>
                <i>位置</i>
                <input class="infor-tele" name="location" placeholder="详细地址" value="{{ data.location }}"/>
            </li>
            <li>
                <i>故乡</i>
                <input class="infor-tele" name="hometown" placeholder="来自哪里" value="{{ data.hometown }}"/>
            </li>
            <li>
                <i>手机</i>
                <input class="infor-tele" name="telephone" value="{{ data.telephone }}"/>
                <font size="1px" style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ telephone.0 }}</font>
            </li>
        </ul>
        <input type="submit" class="login-btn" value="确认修改">
    </form>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/amazeui.min.js' %}"></script>
    </body>
{% endblock %}

